/* My styles for my week 8 people pages!!!! */

* {
padding:0;
margin:0;
box-sizing:border-box;
}

body {
    background:beige;
}

#wrapper {
    max-width:1200px;
    /* you will still be using the values from a 940 px grid please!!!!*/
    margin:30px auto;
    
}

.inner {
max-width:1200px;
margin:0 auto;
/* you will still be using the values from a 940 px grid please!!!!*/
}

main {
    float:left;
/* main in px = 580px */
/* change to percentages = 580 divided by 940 */
width:61.70%;

}

aside img {
    display:block;
    margin:0 auto 10px auto;
}

aside {
    /* your aside will have a width of 340px divided by 940 */
    float:right;
    width:36.17%;
    text-align:center;
}

footer {
    clear:both;
    height:60px;
    line-height:60px;
}

footer li {
    list-style-type: none;
    float:left;
    margin-right:30px;
}

main ul {
    margin-left:20px;
    margin-bottom:10px;
}

p {
    line-height:1.4;
}

h1 {
    font-size:3em;
    margin-bottom:10px;
}

h2 {
    font-size:2em;
    margin-bottom:10px;
}
h3 {
    font-size:1.6em;
    margin-bottom:10px;
}