
/* styles for my website */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#wrapper {
    width:940px;
    margin:20px auto;
}

body {
    background:lightgray;

}

header {
   /* height:200px; */
    background:yellow;
    overflow: hidden; 
    padding:20px 0;
}

#inner-header,
#inner-footer {
    margin:0px auto;
    max-width:1200px;
}

#logo {
    float:left;
}
Nav ul {
    float:right; 
}

nav li {
    float:left;
    margin-left:15px;
    list-style-type:none;
}


#wrapper {
    margin:20px auto;
    max-width:1200px;
}


main {
    width:50%;
    height:400px;
    margin-bottom:20px;
    background:lightblue;
    float:left;
}

aside {
width:35%;
height:300px;
background:coral;
float:right;
}

footer {
    border-top:1px solid #666;
    height:70px;
    clear:both;
    line-height: 60px;
}

footer li {
    float:left;
    margin: right 50px;
    list-style-type:none;
    padding-left: 80px;
}