
/* styles for my website */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    background:lightgray;

}

header {
   /* height:200px; */
    background:yellow;
    overflow: hidden; 
    padding:20px 0;
}

#inner-header,
#inner-footer {
    margin:0px auto;
    max-width:1200px;
}

#logo {
    float:left;
}
Nav ul {
    float:right; 
}

nav li {
    float:left;
    margin-left:15px;
    list-style-type:none;
}

nav a {
    text-decoration:
}

#wrapper {
    margin:20px auto;
    max-width:1200px;
}

#hero {
    height:300px;
    background:#f00;
    margin-bottom:20px;
    clear:both;
}

main {
    width:62%;
    height:1000px;
    margin-bottom:20px;
    background:lightblue;
    float:left;
}



footer {
    border-top:1px solid #666;
    height:70px;
    clear:both;
    line-height: 60px;
}

footer li {
    float:left;
    margin: right 50px;
    list-style-type:none;
    padding-left: 80px;
}
.funtion {
    font-weight: bolder;
    font-size: larger;
}